div.game {
    display: inline-block;
    margin: 1em auto;
    border: thin solid black;
    padding: 1em 0;
}

div.game div.row {
    display: block;
    padding: 0;
    height: 50px;
    white-space: nowrap;
}

div.game div.cell {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}